[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
jupyter = "*"
matplotlib = "*"
toolz = "*"
pyyaml = "*"
opencv-python = "*"
rospkg = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
runPrediction = ""
